= render partial: 'layouts/errors', locals: {error_object: new_bug}
= form_for new_bug, url: admin_bugs_path, method: :post, remote: true do |f|
  .large-1.columns
    = f.label :name
  .large-7.columns
    = f.text_field :name
  .large-4.columns
    = f.submit 'Submit', class: 'button tiny'