= content_tag_for(:tr, bug) do
  %td
    = link_to bug do
      %i.fi-link
  %td= bug.name
  %td= bug.order
  %td= bug.bug_class ? (link_to bug.bug_class.name, bug.bug_class) : 'N/A'
  %td
    = link_to edit_admin_bug_path(bug) do
      %i.fi-pencil
  %td
    = link_to admin_bug_path(bug), method: :delete, remote: true, data: {confirm: "Are you SURE you want to delete #{bug.name}?"} do
      %i.fi-trash