%ul.breadcrumbs
  - @lineage.each do |ancestor|
    %li
      = link_to (ancestor.name || ancestor.generic_name), ancestor
  %li
    = link_to @dc.name, ''
%h1.drug= @dc.name
%hr
.small-3.columns
  = render partial: 'partials/li', locals: {bc: @dc, bug_or_drug: false}
.small-9.columns
  %p.description
    = @dc.description
    In a far distant future, there will be meaningful text in this space...