.nib
- if is_admin?
  = link_to '' do
    %i.fi-eye.text-center
  = link_to refresh_preview_bug_path(@bug), remote: true do
    %i.fi-refresh.text-center
%h5.name
  = link_to @bug.name, @bug, target: '_blank'
- optionals = [:patient_demographics, :transmission, :tests, :environment, :morphology, :growth_pattern, :toxins]
- booleans = [:motile, :encapsulated]
- arrays = [:diseases, :treatments]

= editable_p(@bug, :brief_description, is_admin?)
- arrays.each do |a|
  = editable_array(@bug, a, is_admin?)
- optionals.each do |o|
  = editable_p(@bug, o, is_admin?)
= editable_img(@bug, :image, is_admin?)
%hr
%p
  -booleans.each do |b|
    - if @bug.send(b)
      = b.to_s.titleize