.preview
  .nib
  -# = link_to @bug, target: '_blank' do
  -#   %i.fi-link.text-center
  -# = link_to '' do
  -#   %i.fi-x.text-center
  %h5.name
    = link_to @bug.name, @bug, target: '_blank'
  %hr
  - admin_version = @current_user && @current_user.is_admin?
  - optionals = [:morphology, :growth_pattern, :toxins]
  - booleans = [:motile, :encapsulated]
  = editable_p(@bug, :brief_description, admin_version)
  - if admin_version
    - optionals.each do |o|
      %hr
      %h6= o.to_s.titleize
      = editable_p(@bug, o, admin_version)
    
    %hr
      - if @bug.image.file
        = image_tag @bug.image.preview
      -else
        %h6 Image
        = editable_img(@bug, :image, admin_version)
  - else
    - optionals.each do |o|
      - if @bug.send(o)
        %hr
        %h6= o.to_s.titleize
        = @bug.send(o)
    - if @bug.image.file
      %hr
      =image_tag @bug.image.preview
  %hr
  %p
    -booleans.each do |b|
      - if @bug.send(b)
        = b.to_s.titleize