%h1 Admin
%ul
  %li= link_to 'Users', admin_users_path
  %li= link_to 'Bugs', admin_bugs_path
  %li= link_to 'Bug Classes', admin_bug_classes_path
  %li= link_to 'Drugs', admin_drugs_path
  %li= link_to 'Drug Classes', admin_drug_classes_path