.preview
  .nib
  = link_to @drug, target: '_blank' do
    %i.fi-link.text-center
  = link_to '' do
    %i.fi-x.text-center
  -# FIX THIS
  -# - if @treats.any?
  -#   %h6 Treats:
  -#   %ul
  -#     - @treats.each do |treat|
  -#       %li= treat
  -#   %hr
  -# %hr
  %h6 Administered:
  %p= @administered
  %hr
  %h6 Metabolized:
  %p= @metabolized_in
  %hr
  %h6 Mechanism:
  %p= @mechanism
  %hr
  %h6 Toxicity:
  %ul
    - @side_effects.each do |effect|
      %li= effect