.large-1.columns
  = f.label :name
.large-3.columns
  = f.text_field :name
.large-1.columns
  = f.label :bug_class_id
.large-3.columns
  %select{name: 'bug_class[bug_class_id]', id: 'bug_class[bug_class_id]'}
    - BugClass.top_tier.each do |bc|
      = render partial: 'admin/bug_classes/partials/option', locals: {bc: bc}
.large-1.columns
  = f.label :order
.large-1.columns
  = f.number_field :order
.large-2.columns
  = f.submit 'Submit', class: 'button tiny'