%h3 Reset Password for #{@user.username}
%hr
= form_tag reset_password_user_path(@user), method: :patch do
  = label_tag :new_password
  = password_field_tag :new_password
  = label_tag :new_password_confirmation
  = password_field_tag :new_password_confirmation
  = hidden_field_tag :password_reset_token, params[:password_reset_token]
  = submit_tag 'Set New Password', class: 'button'