%nav.top-bar{data: {topbar: true, options: 'is_hover: false'}}
  %ul.title-area
    %li.name
      %h1
        = link_to root_path do
          = image_tag 'logo.png', height: '2em'
          Bugs/Drugs
    %li.toggle-topbar.menu-icon
      =link_to '' do
        %span Menu
  %section.top-bar-section
    -# Left Nav Section
    %ul.left
      - if is_admin?
        %li.divider
        %li
          = link_to admin_path do
            %i.fi-sheriff-badge
            Admin
      %li.divider
    -# Middle
    -# %ul.middle

    -# Right Nav Section
    %ul.right
      %li.has-form#top-search
        .row.collapse
          .small-12.columns
            = search_field_tag 'query', nil, class: 'round', autocomplete: 'off'
            %i.fi-magnifying-glass
        %ul#live-results
      %li.divider
      %li
        -# Icon is 'Biohazard' by Shailendra Chouhan from The Noun Project
        = link_to bugs_path do
          = image_tag asset_path('icons/biohazard.svg'), class: 'icon'
          Bugs

      %li.divider
      %li
        -# Icon is 'Pills' by Alex AS from The Noun Project
        = link_to drugs_path do
          = image_tag asset_path('icons/drugs.svg'), class: 'icon'
          Drugs
      %li.divider
      %li
        -# Icon is 'Vomiting' by Miranda Dempster from The Noun Project
        = link_to symptoms_path do
          = image_tag asset_path('icons/vomit.svg'), class: 'icon'
          Symptoms
      %li.divider      
      - if @current_user
        %li.has-dropdown#user-menu
          %a#profile-tease
            = image_tag @current_user.image.thumb, class: 'profile-pic-updateable'
            = @current_user.username
          %ul.dropdown
            %li.divider
              = link_to account_path do
                %i.fi-torso
                Account
            %li.divider
              = link_to login_path, method: :delete do
                %i.fi-power{style: 'color: #f55;'}
                Log out
      - else
        %li
          = link_to login_path do
            %i.fi-power{style: 'color: #5f5;'}
            Log in
      %li.divider
