%nav.top-bar{data: {topbar: true, options: 'is_hover: false'}}
  %ul.title-area
    %li.name
      %h1
        = link_to 'Bugs+Drugs', root_path
  %section.top-bar-section
    -# Left Nav Section
    %ul.left
      - if is_admin?
        %li.divider
        %li
          = link_to 'Admin', admin_path
      %li.divider
    -# Middle
    %ul.middle

    -# Right Nav Section
    %ul.right
      %li.divider
      %li
        = link_to bugs_path do
          = image_tag asset_path('icons/biohazard.svg'), class: 'icon'
          Bugs

      %li.divider
      %li
        = link_to bug_classes_path do
          = image_tag asset_path('icons/drugs.svg'), class: 'icon'
          Drugs
      %li.divider
      %li
        = link_to bug_classes_path do
          = image_tag asset_path('icons/vomit.svg'), class: 'icon'
          Symptoms
      %li.divider      
      - if @current_user
        %li.has-dropdown
          = link_to '#' do
            = @current_user.username
          %ul.dropdown
            %li
              = link_to account_path do
                %i.fi-torso
                Account
            %li
              = link_to login_path, method: :delete do
                %i.fi-power{style: 'color: #f55;'}
                Log out
      - else
        %li
          = link_to login_path do
            %i.fi-power{style: 'color: #5f5;'}
            Log in
      %li.divider
