.nib
- if is_admin?
  = link_to '' do
    %i.fi-eye.text-center
  = link_to refresh_preview_drug_path(@drug), remote: true do
    %i.fi-refresh.text-center
%h5.name
  = link_to "#{@drug.generic_name} #{"#{(@drug.trade_name)}" if @drug.trade_name}", @drug, target: '_blank'

- optionals = [:mechanism, :administered, :metabolized_in, :toxicities]
- optionals.each do |o|
  = editable_p(@drug, o, is_admin?)